.App {
  text-align: center;
}

.FeelingPage-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.FeelingPage-title {
  font-size: 1.5em;
}

.FeelingPage-intro {
  font-size: large;
}

